<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spotify Revamped</title>
    <link rel="stylesheet" href="/styles.css"> 
  </head>
  <body>
    <h1>Spotify Test Page</h1>

    <div id="start">
      <a href="/login">Log in with Spotify</a>
    </div>

   <!-- PROFILE PAGE HERE -->
    <% if (userData) { %>
      <script>
         document.getElementById("start").style.display = "none";
      </script>

      <!-- User Data -->
      <h2> Hello <%= userData.display_name %> </h2>
        <% if (userData.images[0]) { %>
          <img src=<%= userData.images[0].url %>>
        <% } else { %>
          <p>No profile image</p>
          <% } %>
      
      <!-- Playlists -->
      <h2> Your playlists </h2>
      <table>
        <% for(var i=0; i < playlist.items.length; i++) { %>
        <tr>
          <td><%= playlist.items[i].name %></td>
          <td> <a href=<%= playlist.items[i].uri %>>View this playlist</a></td>
        </tr>
        <% } %>
      </table>
      
    <% } %>
    
  </body>
</html>