/*Base*/
body {
  background-color: rgb(29, 29, 29);
  color: white;
}

html {
      font-family: "Raleway", sans-serif;
}


.button {
    color: white;
    text-decoration: none;
    font-weight: bold;
  background-color: #1ED760;
  border: none;
  border-radius: .5vw;
  padding: .9rem 2rem;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}


/* Login page */

#login {
  display: block;
  background-image: url("/images/guitar-guy.jpeg");
  height: 100vh;
  width: 100vw;
  position: relative;
  text-decoration: none;
}

.tile {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-200%, -50%);
  background-color: rgb(30, 30, 30);
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

#loggedin {
  display: none,
}

/* Profile section */
#prof-container {
    padding: 20px 40px 40px;
    max-width: 640px;
}
#prof-container img {
    height: auto; 
    width: auto; 
    max-width: 120px; 
    max-height: 120px;
    border-radius: 50%;
}
#prof-container #prof-text {
    padding: 5px;
    display: inline-block;
}

/* Player */
#web-player {
  text-align: center;
  padding-bottom: 4%;
}

.curr-img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 200px;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 20%;
}

.curr-song-img {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    border-radius: 20%;
}

.curr-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .1s ease;
}

.curr-img-container:hover .curr-song-img {
     height: 200px; 
    width: 200px; 
    max-width: 200px; 
    max-height: 200px;
    border-radius: 20%;
  opacity: 0.3;
}

.curr-img-container:hover .curr-overlay {
   height: 200px; 
    width: 200px; 
    max-width: 200px; 
    max-height: 200px;
    border-radius: 20%;
  opacity: 1;
}

/* Favorites section */
#favorites-container {
    min-width: 70%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

/* Playlist section */
#t-play-container {
  width: 100%;
  padding: 20px;
  float: left;
  margin-bottom: 5%;
}
.grid-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.grid-item {
  display: inline-block;
  text-align: center;
  padding-right: 15px;
}

.pl-img-container {
    position: relative;
    height: 200px;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 20%;
}

.pl-img {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

.pl-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .1s ease;
}

.pl-img-container:hover .pl-img {
     height: 200px; 
    width: 200px; 
    max-width: 200px; 
    max-height: 200px;
  opacity: 0.3;
}

.pl-img-container:hover .pl-overlay {
   height: 200px; 
    width: 200px; 
    max-width: 200px; 
    max-height: 200px;
  opacity: 1;
}

.pl-over-text {
  white-space: nowrap; 
  background-color: #1ED760;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: .5vw;
  padding: 0.3rem 1rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
}
.over-text3 {
  white-space: nowrap; 
  background-color: #1ED760;
   font-size: 1rem;
   font-weight: bold;
  color: black;
  position: absolute;
  overflow: hidden;
  border: none;
  border-radius: .5vw;
  padding: 0.3rem 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Top Songs section */
#t-s-container {
  height: 750px;
  width: 400px;
  padding-bottom: 8%;
  float: left;
}
.songs-container {
  height: 700px;
  width: 400px;
  overflow-x:hidden;
  overflow-y:auto;
}
.songs-item {
  width: fit-content;
  padding-bottom: 15px;
  display: flex;
}

 .song-text {
  margin-right: auto;
  width:50%;
  padding: 10px;
}

#song-img {
    height: auto; 
    width: auto; 
    max-width: 80px; 
    max-height: 80px;
    border-radius: 20%;
}
.img-container {
    position: relative;
    height: 130px; 
    width: 130px; 
    max-width: 130px; 
    max-height: 130px;
    border-radius: 20%;
}


.song-img {
    height: auto; 
    width: auto; 
    max-width: 130px; 
    max-height: 130px;
    border-radius: 20%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .1s ease;
}

.img-container:hover .song-img {
     height: 130px; 
    width: 130px; 
    max-width: 130px; 
    max-height: 130px;
    border-radius: 20%;
  opacity: 0.3;
}

.img-container:hover .overlay {
    height: 130px; 
    width: 130px; 
    max-width: 130px; 
    max-height: 130px;
    border-radius: 20%;
  opacity: 1;
}


.over-text {
  white-space: nowrap; 
  background-color: #1ED760;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  position: absolute;
  overflow: hidden;
  border: none;
  border-radius: .5vw;
  padding: 0.3rem 1rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
}

.over-text2 {
  white-space: nowrap; 
  background-color: #1ED760;
   font-size: 1rem;
   font-weight: bold;
  color: black;
  position: absolute;
  overflow: hidden;
  border: none;
  border-radius: .5vw;
  padding: 0.3rem 1rem;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
}


/* Audio Analysis */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  color:white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Top Artist - Album section */
#t-art-container {
  width: 700px;
  padding: 20px;
  float: right;
}
#t-alb-container {
  width: 700px;
  padding: 20px;
  float: right;
}
#ta-img {
    height: auto; 
    width: auto; 
    max-width: 135px; 
    max-height: 135px;
    border-radius: 20%;
}
.ta-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; 
  width: 700px;
}

/* ScrollBar Design */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background:rgba(168, 167, 167, 0.2);
}
::-webkit-scrollbar-corner {
   background: gray;
}
.search-bar option{
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1db954;
  transition-duration: 0.3s;
}
input[type="search"] {
  margin: auto 5px;
  padding: 5px;
  border-radius: 20px;
  width: 15%;
}
.search-btn {
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  border-radius: 6px;
  padding: 4px;
  border-width: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  background-color: #1db954;
}
.search-btn:hover {
  color: #1db954;
  background-color: #fff;
}
#search-results a, a:visited, a:active{
  color: inherit;
  text-decoration: none;
}
#search-results a:hover{
  color: inherit;
  /* filter: invert(100%) */
  text-decoration: underline;
}
#search-results {
  overflow: scroll hidden;
  white-space: nowrap;
  height: 350px;
}
.result-item {
  display: inline-block;
  text-align: center;
  width: 15%;
  vertical-align: top;
  height: 100%;
  background-color: #343836;
  border-radius: 30px;
  padding: 20px 5px 10px;
  margin: 5px;
  white-space: normal;
}
.result-item img {
  height: 200px;
  max-width: 80%;
  padding-right: 15px;
}
